<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
    
    {% for message in messages %}
        <div style="background-color: green;">{{ message }}</div>
    {% endfor %}
        
        
    {% endif %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Adınızı Giriniz">
            <input type="text" name="surname" placeholder="SoyAdınızı Giriniz">
            <input type="text" name="username" placeholder="Kullanıcı Adınızı Giriniz">
            <input type="email" name="email" placeholder="Email Giriniz">
            <input type="password" name="password" placeholder="Şifrenizi Giriniz">
            <input type="password" name="password1" placeholder="Şifrenizi Tekrar Giriniz">
            <button type="submit">Kayıt Ol</button>
        </form>
    </div>
</body>
</html>